@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome, please login below. . .</h2>
    <br />
    <label>Username</label>
    <input type="text" />
    <br />
    <label>Password</label>
    <input type="password" />
</div>
